/* .row {
    margin-bottom: 200px;
} */

.MySpace {
    padding-bottom: 100px;
    margin-top: 100px;

}

/* .MySpace h2 {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-weight: 700;
}

.MySpace h3 {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-weight: 500;
} */