.ComicCard {
    width: '18rem'
}

.ComicCard img {
    height: 140px;
    object-fit: cover;
}

.hide {
    display: none
}

/* .ComicCard Link {
    color: black
} */

/* .ComicCard button {
    margin-right: 10px;
} */

.icons-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}