.Footer {
    background-color: #212429;
    color: white;
    font-size: .7em;
    padding: 5px;
    width: 100%;
    margin-top: 50px;
}

.Footer h6 {
    font-weight: lighter;
}

.rights {
    color: grey;
    font-style: italic;
}