.HomePageBody {
    background-image: url("https: //1.bp.blogspot.com/-mmUHTTVDg2Y/XifcfqkA5QI/AAAAAAAALLw/jFlYZ3mp6jQBFSpNHqp0z-lW-QeiZ7ikACLcBGAsYHQ/s2346/Spider-Man-minimal.jpg");
    background-color: rgb(60, 84, 244);
    height: 500px;
    width: 500px;
}